.linkField {
  cursor: pointer;
  color: blue;
}

.linkField:hover {
  text-decoration: underline;
}

.seismap-radio-composite-field .x-form-display-field {
  cursor: default;
}

.x-form-check-wrap,.x-form-display-field {
  background-color: white;
}

/* This rule should be removed when OpenLayers Map Data popup issue is fixed */
.olLayerGoogleCopyright {
  visibility: hidden;
}